<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Weather App</title>
        <link rel="icon" href="/img/weather_icon.png">
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <p>Please input a valid location. Ex. Manila</p>
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <div class="forecast"></div>
        </div>
         
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>
